{% extends "base.html" %}
{% block title %}View Flash Cards{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h1 class="title">Hello Player!</h1>
	<hr>
	<br>
	<div class="button">
		<button OnClick={location.reload();}>Get Another Card</button>
	</div>
	<br>
	<section id="card">
		<button class="card" id="play_card" OnClick="{
			self = document.getElementById('play_card');
			front = self.children[0];
			back = self.children[1];
			front.classList.toggle('hidden');
			back.classList.toggle('hidden');
		}">
			<h2>{{ card.front }}</h2>
			<h3 class="hidden">{{ card.back }}</h3>
		</button>
	</section>
	<br>
	<hr>
{% endblock %}
