{% extends "base.html" %}
{% block title %}View Flash Cards{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h1 class="title">Add or Edit Card!</h1>
	<hr>
	<section id="meat">
		{% if card %}
			<section id="edit">
				<form action="/cards/edit" method="post">
					<p>Front: </p> <textarea name="front" rows=8>{{card.front}}</textarea>
					<br>
					<p>Back: </p> <textarea name="back" rows=8>{{card.back}}</textarea>
					<br>
					<p>Set: </p> <select name="set_id">
						{% for set in sets %}
							{% if set.id == set_id or card.set_id == set.id %}
								<option selected="selected" name="{{set.name}}" value="{{set.id}}">{{ set.name }}</option>\
							{% else %}
								<option name="{{set.name}}" value="{{set.id}}">{{ set.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<hr>
					<input type="submit" value="Submit"> <button href='/cards/{{card.id}}'>Cancel</button>
					<input style="visibility: hidden;" type="number" name="id" value="{{card.id}}">
				</form>
				<hr>
				<form action="/cards/{{card.id}}/delete" method="post">
					<button class="delete" type="submit" onclick="return confirm('Are you sure you want to delete this card? You worked so hard on it!')">
						Delete Card
					</button>
				</form>
			</section>
		{% else %}
			<section id="add">
				<form action="/cards/add" method="post">
					<p>Front: </p> <textarea name="front" rows=8 required minlength="1"></textarea>
					<br>
					<p>Back: </p> <textarea name="back" rows=8 required minlength="1" maxlength="10"></textarea>
					<br>
					<p>Set: </p> <select name="set_id" required>
						<option name="" value=""></option>
						{% for set in sets %}
							{% if set.id == set_id %}
								<option selected="selected" name="{{set.name}}" value="{{set.id}}">{{ set.name }}</option>\
							{% else %}
								<option name="{{set.name}}" value="{{set.id}}">{{ set.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<hr>
					<input type="submit" value="Submit">
				</form>
			</section>
		{% endif %}
	</section>
	<hr>
	<br>
{% endblock %}
