{% extends "base.html" %}
{% block title %}View Flash Cards{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h1 class="title">Add a Set!</h1>
	<hr>
	<section id="meat">
		{% if set %}
			<section id=edit>
				<form action="/sets/edit" method="post">
					<p>Name: </p> <textarea name="name">{{set.name}}</textarea>
					<hr>
					<input type="submit" value="Submit"> <button href='/sets/{{set.id}}'>Cancel</button>
					<input style="visibility: hidden;" type="number" name="id" value="{{set.id}}">
				</form>
				<hr>
				<form action="/sets/{{set.id}}/delete" method="post">
					<button class="delete" type="submit" onclick="return confirm('Are you sure you want to delete this set? All of the cards asscociated with it will also be deleted!')">
						Delete Set
					</button>
				</form>
			</section>
		{% else %}
			<section id="add">
				<form action="/sets/add" method="post">
					<p>Name: </p> <textarea name="name" required></textarea>
					<hr>
					<input type="submit" value="Submit">
				</form>
			</section>
		{% endif %}
	</section>
	<hr>
	<br>
{% endblock %}
