{% extends "base.html" %}
{% block title %}View Flash Cards{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<br>
	<h1 class="title">Hello Set!</h1>
	<hr>
	<br>
	<form class="button" action="/sets/{{id}}/edit" method="get">
		<button type="submit" OnClick={location.reload();}>Edit Set</button>
	</form>
	<br>
	<br>
	<h2>SET: {{ name }}</h2>
	{% for card in cards %}
		<br>
		<a href="{{ url_for('get_card', card_id=card.id) }}">
			{% import "macros/card.html" as card_macro %}
				{{ card_macro.card(card) }}
		</a>
	{% endfor %}
	<br>
	<br>
	<hr>
	<br>
{% endblock %}
