.card {
	height: 375px;
	border-radius: 15px;
	text-align: center;
	align-content: center;
	color: black;
	background-color: #EEC085;
	box-shadow: 0px 0px 10px #AA865B;
	transition: 0.5s;
	margin: 8px;
}

.card:hover {
	color: #C8730F;
	background-color: #FFDBAC;
	box-shadow: 0px 0px 15px #AA865B;
}

.card h2 {
	padding: 10px;
	font-weight: bold
}

.card h3 {
	padding: 10px;
	font-weight: normal;
	font-size: 22px
}