<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', path='/css/cards.css') }}" rel="stylesheet">
			<script src="{{ url_for('static', path='/scripts/sites.js') }}"></script>
			<title>{% block title %}{% endblock %} - Flashcard App</title>
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a> |
				<a href="/play">Play</a> |
				<a href="/sets">Sets</a>
			</nav>
		</header>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		<footer>
			<section id="credits">
				<p>
					Created by: Michael Jessup in the year of our LORD, 2025
				</p>
			</section>
		</footer>
	</body>
</html>
