{% extends "base.html" %}
{% block title %}View Flash Cards{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h1 class="title">Flashcard</h1>
	<hr>
	<br>
	<section class="cards">
		{% import "macros/card.html" as card_macro %}
		{% for card in cards %}
			{% if loop.index%2 == 0 %}
				<div class="one" style="grid-row : {{ (loop.index - loop.index/2 | round(0, 'floor')) | int}}">
					<a href="cards/{{card.id}}">
						{{ card_macro.card(card) }}
					</a>
				</div>
			{% else %}
				<div class="two" style="grid-row : {{ (loop.index - loop.index/2 | round(0, 'floor')) | int}}">
					<a href="cards/{{card.id}}">
						{{ card_macro.card(card) }}
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</section>
	<br>
	<hr>

	<script>
		window.onload = setup();

		function setup() {
	    	let sections = document.getElementsByClassName("cards");
	    	let length = sections.length;
	    	let style = window.getComputedStyle(sections[0]);
	    	if (style.display == "flex!important" || style.display == "flex") {
	    		console.log("flexing on the haters")
	    		for (let i = length - 1; i >= 0; i--) {
	    			sections[i].classList.replace("cards", "portrait_cards");
	    		}
	    	}
	    }
	</script>
{% endblock %}
