<head>
	<link href="{{url_for('static', path='/css/styles.css')}}" rel="stylesheet">
	<link href="{{url_for('static', path='/css/cards.css')}}" rel="stylesheet">
	<script> src="{{url_for('static', path='/scripts/sites.js')}}"</script>
</head>
<br>
<h1 class="title">Hello World!</h1>
<hr>
{% for card in cards %}
	<br>
	<a href="{{url_for('get_card', card_id=card.id)}}">
		<div class="card">
			<h2>{{ card.question }}</h2>
			<h3>{{ card.answer }}</h3>
		</div>
	</a>
{% endfor %}
<br>
<hr>
<br>
<div class="button">
	<button OnClick={location.href="/play"}>Play</button>
</div>
<br>