<head>
	<link href="{{url_for('static', path='/css/styles.css')}}" rel="stylesheet">
	<link href="{{url_for('static', path='/css/cards.css')}}" rel="stylesheet">
	<script> src="{{url_for('static', path='/scripts/sites.js')}}"</script>
</head>
<br>
<h1 class="title">Hello World!</h1>
<hr>
{% for user in users %}
	<br>
	<div>
		<h2>{{ user.name }}</h2>
		<br>
		<h3>{{ user.email }}</h3>
	</div>
	<br>
{% endfor %}
<br>
<hr>
<br>
<div class="button">
	<button OnClick={location.href="../"}>Home</button>
</div>
<br>